{% extends 'base.html.twig' %}
{% block title %}Wire Full Test{% endblock %}
{% block body %}
{% wire %}
<h1 id="name-heading">{{ user.name }}</h1>
<span id="name-copy">{{ user.name }}</span>
<span id="name-title" title="{{ user.name }}">-</span>
<p id="email-text">{{ user.email }}</p>
<span id="status-class" class="{{ user.status }}">{{ user.status }}</span>
<input id="name-input" type="text" value="{{ user.name }}">
<input id="email-input" type="text" value="{{ user.email }}">
{% endblock %}
